__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.env.example
mise.local.toml
.git
.gitignore
.github
.vscode
.idea
*.md
.DS_Store
.pytest_cache
.coverage
htmlcov
node_modules
